header {
    background-color: #171717;
    margin: auto -16px 2rem;
    padding: 16px 32px;
    box-shadow:0 5px 10px 0 rgba(185, 183, 183, 0.3);
    h1 {
        color:#FFC900;
        font-family: "McLaren", cursive;
        font-weight: 200;
    }
}